<div class="flex justify-around p-3">
  @for (section of tablesService.sections; track $index) {
    <p
      class="cursor-pointer"
      (click)="chancheSection($index)"
      [ngClass]="{ 'text-purple-500 font-bold underline': section.name === selectedSection.name }"
    >
      {{ section.name }}
    </p>
  }
</div>

<div class="grid grid-cols-5 content-center gap-4 place-items-center">
  @for (table of selectedSection.tables; track $index) {
    <div (click)="selectTable($index)">
      <tpv-table class="cursor-pointer" [tableName]="table.name" />
    </div>
  }
</div>

<div class="w-full flex p-3 mt-6 justify-between items-center">
  <div class="flex flex-col gap-2">
    <div class="flex gap-1">
      <p-button (onClick)="addTable()" styleClass="bg-green-500 m-0 p-0 text-white" icon="pi pi-plus" />
      <p>Añadir mesa</p>
    </div>

    <div class="flex gap-1">
      <p-button styleClass="bg-red-500 m-0 p-0 text-white" icon="pi pi-minus" />
      <p>Borrar mesa</p>
    </div>
  </div>

  <div class="flex gap-3 font-bold">
    <div class="flex gap-1">
      <div class="w-[25px] h-[25px] bg-yellow-300"></div>
      <p>Reservado</p>
    </div>

    <div class="flex gap-1">
      <div class="w-[25px] h-[25px] bg-blue-300"></div>
      <p>Libre</p>
    </div>

    <div class="flex gap-1">
      <div class="w-[25px] h-[25px] bg-purple-500"></div>
      <p>Ocupado</p>
    </div>
  </div>
</div>
