<div class="flex justify-between w-full h-full">
  <div class="w-full flex flex-col">
    <div class="p-5">
      <div class="text-gray-600 pb-6 font-bold">
        <p>Restaurante La Herradura</p>
        <p>Fecha: 24/10/2004</p>
      </div>
      <ul class="flex justify-between text-gray-400 font-bold">
        @for (tpvRoute of routingTpv; track $index) {
          <li
            class="flex text-sm items-center cursor-pointer"
            [routerLink]="tpvRoute.route"
            routerLinkActive="text-orange-500 fill-orange-500"
          >
            <ng-container *ngComponentOutlet="tpvRoute.iconComponent!; inputs: iconClass" />
            {{ tpvRoute.title }}
          </li>
        }
      </ul>
    </div>

    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>

  <tpv-side-bar />
</div>
